{% extends "/base/base.html" %}
{% block title %}Home~{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
{% include '/libs/nav.html' %}
    <div class="container">

    <div class="addbook-form  center-block">
        <form class="form-horizontal" role="form" method="post" action="">
            <h2 class="form-signin-heading">填写图书信息</h2>
            <input type="hidden" name="book_id" value="{{mybook.book_id}}">
            <div class="form-group">
                <label class="col-sm-2 control-label">图书名称</label>
                <div class="col-sm-10">

                    <input type="text" class="form-control" name="book_name" placeholder="图书名称" value="{{mybook.book_name}}" required autofocus>
               </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">图书作者</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="book_author" placeholder="图书作者"  value="{{mybook.book_author}}" required>
           </div>
            </div>
            <!--<input type="text" class="form-control" name="book_translator" placeholder="图书名译者" value="{{mybook.book_translator}}" required >-->
              <div class="form-group">
                <label class="col-sm-2 control-label">购买时间</label>
                <div class="col-sm-10">
            <input type="date" class="form-control" name="book_buy_date" placeholder="购买时间" value="{{mybook.book_buy_date}}" required >
              </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">图书价格</label>
                <div class="col-sm-10">
            <input type="text" class="form-control" name="book_price" placeholder="图书价格" value="{{mybook.book_price}}" required >
             </div>
            </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">读书进度</label>
                <div class="col-sm-10">
            <input  type="range"  min="0" max="100" class="form-control" name="book_reading_progress" placeholder="读书进度" value="{{mybook.book_reading_progress}}"  >
             </div>
            </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">确认</button>
        </form>
    </div>

</div> <!-- /container -->
{% endblock %}
